body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[disabled] {
    border: none;
    background: white;
}

.task2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-imgs img {
    width: 4%;
    height: 1%;
    margin: 0 10px;
}

.small-imgs img:hover {
    cursor: pointer;
}

.big-img {
    padding: 15px;
    max-width: 20%;
}